.movie-box
{
    min-height:216;
    max-height:216;
    min-width:148;
    max-width:148;
}

.card-list
{
    overflow-x:scroll;
    margin-bottom:5px;
    min-width: 75%;
    max-width: 75%;
}

a.card-link,
a.card-link:hover {
  color: inherit;
}